################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BloggieToBike/.vs/BloggieToBike/FileContentIndex/49e45903-9668-4f25-8085-ac5952b0ecea.vsidx
